/* default css */
/*###### CUSTOM FONTS #####*/
@font-face
{
font-family: FedraSansAltStd-Book;
src: url(fonts/FedraSansAltStd-Book.otf);
}
@font-face
{
font-family: FedraSansAltStd-BookItalic;
src: url(fonts/FedraSansAltStd-BookItalic.otf);
}
@font-face
{
font-family: FedraSansAltStd-MedItalic;
src: url(fonts/FedraSansAltStd-MedItalic.otf);
}
@font-face
{
font-family: FedraSansAltStd-Medium;
src: url(fonts/FedraSansAltStd-Medium.otf);
}
/*###### END CUSTOM FONTS #####*/

html, body {
	overflow: hidden;
	font-family: FedraSansAltStd-Book;
	font-size: 100%;
	-webkit-touch-callout: none !important; 
	-webkit-user-select: none !important; 
	background-color: #2E2A25;
}


.cover_background {
	background-attachment: fixed !important;
	background-position: 50% 50% !important;
	background-repeat: no-repeat !important; 
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important; 
	background-size: cover !important;
}

.tint {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.tint:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0, 0.8);
}

.dark_tint:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0, 0.85);
}

#loader_container {
	width: 120;
	padding: 15px;
	background: white;
	z-index: 1002;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

p {
	font-family: "Arial", "Verdanda", "sans-serif";
	line-height: 20px;
	padding-bottom: 30px;
	font-size: 1.0em;
}
input[type="button"] { 
	cursor: pointer;
}

a:link, a:visited, a {background: transparent; border: none;  }
* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

p {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}

.shadow {
	-webkit-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.62);
	-moz-box-shadow:    1px 1px 4px rgba(50, 50, 50, 0.62);
	box-shadow:         1px 1px 4px rgba(50, 50, 50, 0.62);
}	
/*###### END READ LABEL LINE FOR TRANSCRIPTION STYLE #####*/

#zoom_control {
	position: absolute;
	z-index: 999;
	display: none;
}

#zoom_in {
	color: #e6e6e6;
	font-size: 3.5em;
	background: #614f4b;
	cursor: pointer;
	float: left;
	clear: both;
	margin-bottom: 20px;
	border: none;
	text-decoration: none;
	
}

#zoom_out {
	color: #e6e6e6;
	font-size: 3.5em;
	background: #614f4b;
	cursor: pointer;
	float: left;
	clear: both;
	margin-bottom: 20px;
	border: none;
	text-decoration: none;
}

.red {
	background: #7a0607;
}

.blue {
	background: #0e5e7f;
}

.brown {
	background: #614f4b;
}

.black {
	background: black;
}

.dark_grey {
	background: #3a3b36;
}

/*###### DEFAULT HEADER TOP BAR #####*/
header {
	width: 100%;
	position: absolute;
	top: 0; right: 0;
	z-index: 1000;
	background: transparent;
	color: white;
}
header ul {
	display: table;
	width: 100%;
}

header ul li{
	display: table-cell;
	vertical-align: middle;
	font-family: FedraSansAltStd-Book;
}

header ul li:last-child{
	text-align: right;
	padding-right: 30px;
}

header ul li a{
	color: white;
	text-decoration: none;
}

header ul li:last-child span.icon{
	font-size: 3em;
	font-size: 3vw;
	vertical-align: middle;
}

header ul li:last-child a{
	font-size: 1.2em;
	font-size: 1.2vw;
}

header li h1 {
	font-size: 1.6em; 
	font-size: 1.6vw;
	font-weight: normal;
	text-align: left;
	padding-left: 50px;
}

header li.blue h1 {
	color: white;
	
}

header li.black h1 {
	color: #ec670a;
}

header ul li:last-child.pager{
	width: 400px;
}


/*###### END DEFAULT HEADER TOP BAR #####*/

/*###### FULL HEADER TOP BAR #####*/
header.full { border-bottom: 4px #ed660a solid; }
header.full li:first-child h1 {
	font-size: 2.5em; 
	font-size: 2.5vw;
	font-weight: normal;
	text-align: left;
	display: table-cell;
	vertical-align: middle;
	text-transform: uppercase;
	padding: 20px 0 20px 130px;
}
header.full li:last-child {
	text-align: right;
}

header.full li:last-child span {
	font-size: 1.3em;
	font-size: 1.3vw;
	padding: 15px 20px 15px 50px;
	border-left: white 1px solid;
	height: auto;
}
/*###### END FULL HEADER TOP BAR #####*/

/*###### SMALL HEADER TOP BAR #####*/
header li.small:first-child { border-bottom: 4px #ed660a solid; width: 550px;} /* map can override this */
header li.small:first-child a {
	text-transform: uppercase;
	font-size: 2.5em; 
	font-size: 2.5vw;
	display: block;
	padding: 20px 0 20px 21px;
}
header li.small:first-child a span.icon {
	font-size: 2.0em;
	font-size: 2.0vw;
	vertical-align: middle;
	padding-right: 40px;
	padding-left: 25px;
}
/*###### END SMALL HEADER TOP BAR #####*/



/*###### GRIDSLIDER STYLE, MAP SATELLITE OVERRIDE POSSIBLE ##### */
#grid_slider_container {
	background: transparent;
	position: absolute;
}
			
a.grid_slider_item:active, a.grid_slider_item:hover {
	background: url(images/blue_transparent.png);
}

a.grid_slider_item {
	background: white;
	position: absolute;
	background: url(images/red_transparent.png);
	-webkit-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.62);
	-moz-box-shadow:    1px 1px 4px rgba(50, 50, 50, 0.62);
	box-shadow:         1px 1px 4px rgba(50, 50, 50, 0.62);
	display: block;
	padding-top: 15px;
	color: white; text-decoration: none;
}



a.grid_slider_item h2 {
	width: 250px; 
	margin: 0 auto;
	margin-top: 20px;
	display: block;
	font-family: FedraSansAltStd-Book;
	font-size: 1.2em;
	/* font-size: 1.2vw; */
	font-weight: normal;
}
a.grid_slider_item .thumbnail {
	width: 270px; 
	height: 200px; 
	margin: 0 auto; 
	background: black; 
	border: 4px solid white; 
	background-repeat: no-repeat;
	-webkit-background-size: cover !important; 
	-moz-background-size: cover !important; 
	-o-background-size: cover !important; 
	background-size: cover !important;
}

#slider_control a {
	text-decoration: none;
	font-size: 4em;
	font-size: 4vw;
	color: white;
}

#previous_section {
	position: absolute;
	width: 150px;
	text-align: center;
	display: none;
}

#next_section {
	position: absolute;
	width: 150px;
	text-align: center;
	display: none;
}

.grid_slider_section {
	position: absolute;
}

/*###### END GRIDSLIDER STYLE, MAP SATELLITE OVERRIDE POSSIBLE ##### */



.detail_panel {
	width: 30%;
	position: absolute;
	background: white;
	z-index: 998;
	display: none;
	-webkit-box-shadow: -1px 0px 9px rgba(50, 50, 50, 0.3);
	-moz-box-shadow: -1px 0px 9px rgba(50, 50, 50, 0.3);
	box-shadow: -1px 0px 9px rgba(50, 50, 50, 0.3);
	padding: 25px;
}


.detail_panel video, .detail_panel img {
	cursor: pointer !important;
}

a.play_button {
	display: block; padding: 0; margin: 0; position: relative; 
}
a.zoom_detail_image {
	display: block; padding: 0; margin: 0; position: relative;
}

.detail_panel .text_container, .detail_panel .text_container p {
	color: #958A87;
	overflow-y: auto;
	line-height: 30px;
	font-family: Arial, Verdana, sans-serif;
	font-size: 1.3em;
	font-size: 1.3vw;
}

.detail_panel h3 {
	color: #861a1a;
	font-family: FedraSansAltStd-Book;
	font-weight: normal;
	font-size: 2.2em;
	font-size: 2.2vw;
	display: block;
	padding: 0; margin-top: 10px;
}

.detail_panel .inner {
	width: 100%;
	margin-top: 30px;
}

.detail_panel .close_panel {
	float: right;
	color: #C9C9C9;
	font-size: 3.5em;
}


#story_selection {
	position: absolute;
}
#story_selection h1 {
	margin-bottom: 200px;
	font-size: 4em;
	font-size: 4vw;
	font-weight: normal;
	color: #861a1a;
}
#story_selection select {
	font-size: 3em;
	font-size: 3vw;
	position: absolute;
}

