@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-marker-flag, .icon-button-popup-close, .icon-button-plus, .icon-button-minus, .icon-button-info-trans, .icon-button-info-trans-close, .icon-button-info-map, .icon-button-info-map-close, .icon-button-close, .icon-button-back-to-subgrid, .icon-button-back-to-grid, .icon-arrow-overview-previous, .icon-arrow-overview-next, .icon-arrow-next, .icon-arrow-back {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-marker-flag:before {
	content: "\e000";
}
.icon-button-popup-close:before {
	content: "\e001";
}
.icon-button-plus:before {
	content: "\e002";
}
.icon-button-minus:before {
	content: "\e003";
}
.icon-button-info-trans:before {
	content: "\e004";
}
.icon-button-info-trans-close:before {
	content: "\e005";
}
.icon-button-info-map:before {
	content: "\e006";
}
.icon-button-info-map-close:before {
	content: "\e007";
}
.icon-button-close:before {
	content: "\e008";
}
.icon-button-back-to-subgrid:before {
	content: "\e009";
}
.icon-button-back-to-grid:before {
	content: "\e00a";
}
.icon-arrow-overview-previous:before {
	content: "\e00b";
}
.icon-arrow-overview-next:before {
	content: "\e00c";
}
.icon-arrow-next:before {
	content: "\e00d";
}
.icon-arrow-back:before {
	content: "\e00e";
}
