/*###### STYLE FOR POI DETAIL PANEL #####*/

#poi_detail_panel .detail_panel {
	
}

#poi_detail_panel h3 {
	font-weight: normal;
	font-family: FedraSansAltStd-Medium;
	color: #eb660b;
	font-size: 1.8em;
}

#poi_detail_panel .inner {
	/* width: 100%; */
	/* margin-top: 0px; */
}

#poi_detail_panel .text_container, #poi_detail_panel .text_container p {
	font-size: 1em;
	/* font-size: 1vw; */
}


#poi_detail_panel .close_panel {
	color: #7d6f6c;
	font-size: 3.0em;
	/* font-size: 2.0vw; */
}


/*###### END STYLE FOR POI DETAIL PANEL #####*/