#informationPanel {
	position: absolute;
	padding: 20px 30px 20px 175px;
	color: white;
	z-index: 999;
	overflow: hidden;
}

#informationPanel, #informationPanel p {
	line-height: 30px;
	font-family: Arial, Verdana, sans-serif;
	font-size: 1.2em;
	font-size: 1.2vw;
}

#informationPanel .blue {
	background: #236a86 !important;
}

#informationPanel .black {
	background: black !important;
}


#close_map_info {
	display: none;
	color: #91b5c3;
}

#close_theme_info {
	display: none;
}

#open_theme_info {
	color: #ec670a !important;
}

#close_theme_info {
	color: #959593 !important;
}


/*###### GRIDSLIDER STYLE ##### */

			
#themes_overview a.grid_slider_item:active, #themes_overview  a.grid_slider_item:hover {
	/* background: url(images/blue_transparent.png); */
}


#themes_overview a.grid_slider_item {
	/* Thema item bruin: #614f4b */
	background: url(images/brown_transparent.png);
	border-bottom: 4px #ed660a solid;
}

#themes_overview a.grid_slider_item h2 {
	width: 225px; 
	text-transform: uppercase;
	font-size: 1.2em;
}

#themes_overview a.grid_slider_item:hover h2 {
	color: #ed660a;
}

#themes_overview a.grid_slider_item .thumbnail, #theme_maps_overview a.grid_slider_item .thumbnail {
	width: 225px; 
	height: 170px; 
}

#themes_overview #slider_control a, #theme_maps_overview #slider_control a {
	font-size: 3.5em;
	color: white;
}

#themes_overview #next_section, #theme_maps_overview #next_section {
	width: 60px;
}

#themes_overview #previous_section, #theme_maps_overview #previous_section {
	width: 60px;
}


#theme_maps_overview a.grid_slider_item {
	/*  Submenu item blauw: #0078b1 */
	background: url(images/default_blue_transparent.png);
}

#theme_maps_overview a.grid_slider_item:active, #theme_maps_overview  a.grid_slider_item:hover {
	/*  Submenu item blauw selected/hover: #0d5d7e */
	background: url(images/hover_blue_transparent.png);
}


#theme_maps_overview a.grid_slider_item h2 {
	width: 225px; 
}


/*###### END GRIDSLIDER STYLE ##### */

/*###### STYLE FOR POI DETAIL PANEL #####*/

#poi_detail_panel .detail_panel {
	
}

#poi_detail_panel h3 {
	font-weight: normal;
	font-family: FedraSansAltStd-Medium;
	color: #eb660b;
	font-size: 1.8em;
}

#poi_detail_panel .inner {
	/* width: 100%; */
	/* margin-top: 0px; */
}

#poi_detail_panel .text_container, #poi_detail_panel .text_container p {
	font-size: 1em;
	/* font-size: 1vw; */
}


#poi_detail_panel .close_panel {
	color: #7d6f6c;
	font-size: 3.0em;
	/* font-size: 2.0vw; */
}


/*###### END STYLE FOR POI DETAIL PANEL #####*/


.olAlphaImg {
	display: none;
	cursor: pointer !important;
}

path {
	cursor: pointer !important;
}


/*######### STYLE FOR INTRODUCTION OVERLAY ########## */
.overlay {
	margin: 75px;
	color: white;
	padding: 30px;
	/* background: #605050; */
	background: url('images/brown_transparent.png');
	font-family: FedraSansAltStd-Book;
	z-index: 1001;
}

.overlay p {
	font-family: FedraSansAltStd-Book;
	padding-bottom: 30px;
}

#close_introduction_overlay {
	/* position: absolute; */
	color: white;
	font-size: 2.8em;
	/* top: 10px;
	right: 10px; */
	float: right;
}

#introduction_overlay h1{
	font-family: FedraSansAltStd-Book;
	font-size: 4.2em;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 20px;
}

#introduction_overlay h1 span {
	font-weight: bold;
	font-family: FedraSansAltStd-Medium;
	font-size: 0.95em;
	text-transform: uppercase;
}

#introduction_overlay p {
	font-family: FedraSansAltStd-BookItalic;
	font-style: italic;
	line-height: 40px;
	font-size: 1.8em;
}

#introduction_overlay div.instruction {
	
}

#introduction_overlay div.instruction .text {
	display: table;
	height: 50px;
	margin-bottom: 20px;
}

#introduction_overlay div.instruction .text span {
	padding: 0 20px;
	
	font-weight: normal; 
	font-family: FedraSansAltStd-Medium;
	font-size: 1.2em;
	border-left: 1px solid white;
	vertical-align: middle;
	display: table-cell;
}

#introduction_overlay div.instruction .assets {
	padding: 0 20px;
	
}

#introduction_overlay div.instruction .assets a.start {
	float: right;
	margin-top: 35px;
	background: url('images/btn_start_default.png') no-repeat;
	width: 240px; height: 105px;
}
#introduction_overlay div.instruction .assets a.start:hover,
#introduction_overlay div.instruction .assets a.start:active {
	background: url('images/btn_start_touched.png') no-repeat;
}
/*######### END STYLE FOR INTRODUCTION OVERLAY ########## */

header ul li.icon{
	font-size: 4em; 
	font-size: 4vw;
	text-align: center;
	vertical-align: middle;
}
header li.small:first-child { width: 400px;} /* override the default styles */
header li.black {
	background: black !important;
}
header.full li:last-child video {
	vertical-align: middle !important;
}
header li.information{
	width: 125px;
	background: #236a86;
}
header li.overview{
	width: 125px;
	background: #2b8cb6;
}

@media all and (max-width: 1400px) {
	header.full li:first-child h1 {
		padding: 20px 0 20px 68px;
	}
	header li.small:first-child { width: 250px;} /* override the default styles */
	header li.small:first-child a span.icon {
		padding-right:20px;
	}
	header li.small:first-child a {
		padding: 20px 0 20px 0px;
	}
	header li.information{
		width: 80px;
		background: #236a86;
	}
	header li.overview{
		width: 80px;
		background: #2b8cb6;
	}
	header li h1{
		font-size: 2.3em;
		font-size: 2.3vw;
	}

	header ul li:last-child a {
		font-size: 1.6em;
		font-size: 1.6vw;
	}

	header ul li:last-child span.icon {
		font-size: 4em;
		font-size: 4vw;
		vertical-align: middle;
	}

	header ul li:last-child.pager{
		width: 180px;
	}

	#informationPanel {
		padding: 20px 30px 20px 130px;
		font-size: 1.6em;
		font-size: 1.6vw;
	}

	#informationPanel p {
		font-size: 1.6em;
		font-size: 1.6vw;
	}

	
}
