
/*###### READ LABEL LINE FOR TRANSCRIPTION STYLE #####*/
.label_container {
	z-index: 997;
	position: absolute;
	background: white;
	opacity: 1;
	padding: 15px 0 15px 0;
	-webkit-box-shadow: -1px 0px 9px rgba(50, 50, 50, 0.3);
	-moz-box-shadow: -1px 0px 9px rgba(50, 50, 50, 0.3);
	box-shadow: -1px 0px 9px rgba(50, 50, 50, 0.3);
}

.label_text {
	font-weight: normal;
	margin-left: 120px;
	color: #0E5E7F;
	text-decoration: none;
	font-family: FedraSansAltStd-Book;
	font-size: 2.2em;
	font-size: 2.2vw;
}

/*###### HEADER TOP BAR #####*/

.page_counter {
	margin-right: 30px;
}

/*###### END HEADER TOP BAR #####*/

/*###### STYLE FOR RETRANSLATION PANEL #####*/
#retranslation_panel .detail_panel {
	
}

#retranslation_panel h3 {
	
}

#retranslation_panel .inner {
	
}

#retranslation_panel .text_container {
	
}

#retranslation_panel .open_panel {
	font-family: FedraSansAltStd-Book;
	position: absolute; 
	display: none;
	vertical-align: middle;
	font-weight: bold;
	background: #e6e6e6;
	color: #877B78;
	border: none;
	font-size: 1.2em;
	font-size: 1.2vw;
	padding: 15px;
	text-decoration: none;
}

/*###### END STYLE FOR RETRANSLATION PANEL #####*/

/* FIX FOR STATEN GENERAAL */
@media all and (max-width: 1500px) {
	header.full li:first-child h1 {
		padding: 20px 0 20px 76px;
	}
	header li.small:first-child { width: 380px;} 
	header li.small:first-child a span.icon {
		padding-right:20px;
	}
	header li.small:first-child a {
		padding: 20px 0 20px 0px;
	}
	header li.information{
		width: 80px;
		background: #236a86;
	}
	header li.overview{
		width: 80px;
		background: #2b8cb6;
	}
	header li h1{
		font-size: 2.3em;
		font-size: 2.3vw;
	}
	
	header ul li:last-child a {
		font-size: 1.6em;
		font-size: 1.6vw;
	}
	
	header ul li:last-child span.icon {
		font-size: 4em;
		font-size: 4vw;
		vertical-align: middle;
	}
	
	header ul li:last-child.pager{
		width: 300px;
	}

	#slider_control a {
		font-size: 3.5em;
	}

	a.grid_slider_item .thumbnail {
		width: 225px; 
		height: 170px; 
	}

	a.grid_slider_item h2 {
		width: 225px; 
		font-size: 1.2em;
	}

	#next_section {
		width: 60px;
	}

	#previous_section {
		width: 60px;
	}

	/* .text_container {
		font-size: 0.9em !important;
	}
	
	.detail_panel h3 {
		font-size: 2em !important;
	} */

}




